<div class="passenger-dashboard">
  <passenger-count [items]="passengers"></passenger-count>
    <passenger-detail></passenger-detail>
    <ul>
      <li *ngFor="let passenger of passengers; let i = index;">
        <span
          class="status"
          [class.checked-in]="passenger.checkedIn"></span>
        {{ i }}: {{ passenger.fullname }}
        <div class="date">
          Check in date: {{ passenger.checkInDate ? (passenger.checkInDate | date: 'MMMM y, d' | uppercase ) : 'Not checked in' }}
        </div>
        <div class="children">
          children: {{ passenger.children?.length || 0 }}
        </div>
      </li>
    </ul>
</div>